@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.logoAnimation {
  animation: logoAnimation 4s infinite;
}

@keyframes logoAnimation {
  0% {
    color: #42219a;
  }
  25% {
    color: #0B92F8;
  }
  50% {
    color: #6A6A6A;
  }
  75% {
    color: #0B92F8;
  }
  100% {
    color: #42219A;
  }
}
